{% extends "base.html"%}

{% block body %}
    <style>
        .gradient-custom{
            background-color:  rgba(105, 90, 20, 0.158);
        }
        .errMsg{
            color: red;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <section class="vh-100" style="background-color: #baccf0;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 ">
              
              <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div style="background-color: blue;">
                <div class="card-body p-2 text-center">
                        {%if messages %}
              <ul class="messages"></ul>
              {% for message in messages %}
              {% if message.tags == 'success' %}
                <div class="alert alert-success">{{message}}</div>
                {% endif %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger">{{message}}</div>
                {% endif %}
                {% if message.tags == 'info' %}
                <div class="alert alert-success">{{message}}</div>
                {% endif %}
                {% endfor %}
                {% endif %}
                <h3 class="mb-5">Reset Password</h3>
            </div>
            </div>
            <form   method="POST">
                {% csrf_token %}
                <div class="col-12">          
          
                <div class="form-outline mb-4"><h5 >Enter Your Registered Email to Reset  Your Password</h5></div>
                            
                            
                                
                                    <input type="text" class="form-control" name="email"  value="" required autocomplete="email" autofocus placeholder="Enter email" />
                                    {%if form.errors %}
                                    <div class="errMsg">{{form.errors.email}}</div>
                                  {% endif %}
                            
                                <button class="btn btn-primary btn-lg btn-block" type="submit">Reset Password</button>  
                            </div>
                        </form>      
        <div class="col-md-12 mb-4">
        <h5 class="mb-4 pb-2 pb-md-0 mb-md-5" style="text-align: center ;">New Here? <a href="{% url 'register' %}">Sign Up</a></h5>
    </div>
    <div class="col-md-12 mb-4">
        <h5 class="mb-4 pb-md-0 mb-md-5" style="text-align: center ;">Already have an account? <a href="{% url 'login' %}">Sign In</a></h5>
    </div>
        </div>
        </div>
        </div>
        </div>

    </section>
    {% endblock %}
